---
layout: base
---

<div class="container">
  <div class="row">
    {% comment %}<div class="col-md-6 col-md-offset-1 vcenter idxHdr">{% endcomment %}
      {% comment %}<div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Nrupatunga</div>{% endcomment %}
      {% comment %}<div style='font-size: 1.2em;'>{% endcomment %}
	      {% comment %}Technical Lead{% endcomment %}
      {% comment %}</div>{% endcomment %}
      {% comment %}<br>{% endcomment %}
      {% comment %}<div style='font-size: 1.1em'>{% endcomment %}
        {% comment %}<a{% endcomment %}
		{% comment %}href="http://www.samsung.com/in/aboutsamsung/samsungelectronics/india/rnd.html">Media{% endcomment %}
		{% comment %}Analytics and Recognition Team</a>{% endcomment %}
      {% comment %}</div>{% endcomment %}
      {% comment %}<div style='font-size: 1.1em'>{% endcomment %}
	{% comment %}<a href="http://www.samsung.com/in/aboutsamsung/samsungelectronics/india/rnd.html">Samsung R&D India, Bangalore</a>{% endcomment %}
      {% comment %}</div>{% endcomment %}
      {% comment %}<br/>{% endcomment %}

      {% comment %}<div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">{% endcomment %}
        {% comment %}<a href="data/nrupatunga-resume.pdf" target='_blank' style='text-decoration: none;'>{% endcomment %}
          {% comment %}<i style='color: white' class="fa fa-download"></i>{% endcomment %}
        {% comment %}</a>{% endcomment %}
        {% comment %}<a href="data/nrupatunga-resume.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a>{% endcomment %}
      {% comment %}</div>{% endcomment %}

    {% comment %}</div>{% endcomment %}
    {% comment %}<div class="col-md-2 vcenter idxHdr">{% endcomment %}
      {% comment %}<a href="/images/me.jpg">{% endcomment %}
        {% comment %}<img src="/images/me.jpg"{% endcomment %}
             {% comment %}style="border-radius: 20px; margin: 10px; max-width: none;"{% endcomment %}
             {% comment %}alt="Me."/>{% endcomment %}
      {% comment %}</a>{% endcomment %}
    {% comment %}</div>{% endcomment %}
  {% comment %}</div>{% endcomment %}
  <br>
  </br>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
